.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


Footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    margin-top: 0;
    margin-left:0;
    background-color: rgb(69, 74, 76);
    
}
.medRecordsInfo{
    margin-top:0;
    display:inline;
}

.column1{
    display:inline-block;
    padding:10px;
}

#updateMedicalRecordsFieldsInputs {
    
    display:block;
    width:50%;
}


Label{
    display:inline-block;
    margin-bottom:10px;
}

.updateMedicalRecordsContainer {
    padding-bottom: 200px; /* Adjust this value to create enough space for the footer */
}
Button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}